


{% extends '../../layouts/base.html' %}
{% load static %}


{% block title %}Outpass Locator | Program Outpass Logs{% endblock title %}
{% block content %}

<!--begin::Container-->
<div class="container-fluid">

  <!--begin::row-->
  <div class="row">
    
    <!-- Server Side Processing start-->
    <div class="col-sm-12">
     <div class="card">
       <div class="card-header">
         <h5>{{ user_program }} - Outpass Logs</h5>
         <div class="card-header-right">
         <button class="btn btn-primary">Generate Outpass Report</button>
        </div>
         
       </div>
       <div class="card-body">

        <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
          <li class="nav-item"><a class="nav-link active" id="official-outpass-tab" data-bs-toggle="tab" href="#official-outpass" role="tab" aria-controls="official-outpass" aria-selected="true"><i class="icofont icofont-ui-home"></i>Official Business Outpass</a></li>
          <li class="nav-item"><a class="nav-link" id="personal-outpass-tab" data-bs-toggle="tab" href="#personal-outpass" role="tab" aria-controls="personal-outpass" aria-selected="false"><i class="icofont icofont-man-in-glasses"></i>Personal Business Outpass</a></li>
        </ul>

        <div class="tab-content" id="top-tabContent">

          <!--Official Outpass-->
          <div class="tab-pane fade show active" id="official-outpass" role="tabpanel" aria-labelledby="official-outpas-tab">
            <h4>Official Business Outpass Logs (All)</h4>

            <form class=" mb-15" id="advance_filter_outpass_official">
											
              <div class="row mb-8">
                
      
                
                <div class="col-lg-3 mb-lg-0 mb-6">
                  <label>Staff Name:</label>
                  <select class="form-control datatable-input-official" data-col-index="1">
                    <option value="">Select</option>
                  </select>
                </div>
    
              
                
           
                <div class="col-lg-3 mb-lg-0 mb-6">
                  <label>Month:</label>
                  <select class="form-control datatable-input-official"  data-col-index="8">
                    <option value="">Select</option>
                  </select>
                </div>
    
                <div class="col-lg-3 mb-lg-0 mb-6">
                  <label class="">Range of dates</label>
                    <input class="datepicker-here form-control digits outpass_dates_official" type="text" id="disabled-days-official"  data-range="true" data-multiple-dates-separator=" - " data-language="en">
                  </div>
                
              </div>
              <div class="row mt-2">
                <div class="col-lg-12">
                <button class="btn btn-danger " id="outpass_search_official">
                  <span>
                    <i class="la la-search"></i>
                    <span>Search</span>
                  </span>
                </button>&#160;&#160;
                <button class="btn btn-secondary " id="outpass_reset_official">
                  <span>
                    <i class="la la-close"></i>
                    <span>Reset</span>
                  </span>
                </button></div>
              </div>
            </form>
    
             <div class="table-responsive">
               <table class="display datatables" id="program_official_outpass_logs" data-url="{% url 'program_official_outpass_logs' %}">
                 <thead>
                   <tr>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Program</th>
                      <th>Inclusive Date</th>
                      <th>Check Out</th>
                      <th>Check In</th>
                      <th>Time Span</th>
                      <th>Month</th>
                      <th>Destinaton</th>
                      <th>Remarks</th>
                      <th>Actions</th>
                   </tr>
                 </thead>
                 <tfoot>
                   <tr>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Program</th>
                      <th>Inclusive Date</th>
                      <th>Check Out</th>
                      <th>Check In</th>
                      <th>Time Span</th>
                      <th>Month</th>
                      <th>Destinaton</th>
                      <th>Remarks</th>
                      <th>Actions</th>
                   </tr>
                 </tfoot>
               </table>
             </div>
      

         

        </div>
        
        <!--Personal Outpass-->
        <div class="tab-pane fade" id="personal-outpass" role="tabpanel" aria-labelledby="personal-outpass-tab">

          <h4>Personal Business Outpass Logs (All)</h4>
            <!--begin: Search Form-->
        <form class=" mb-15" id="advance_filter_outpass_personal">
											
          <div class="row mb-8">
            
  
            
            <div class="col-lg-3 mb-lg-0 mb-6">
              <label>Staff Name:</label>
              <select class="form-control datatable-input-personal" data-col-index="1">
                <option value="">Select</option>
              </select>
            </div>

          
            
       
            <div class="col-lg-3 mb-lg-0 mb-6">
              <label>Month:</label>
              <select class="form-control datatable-input-personal"  data-col-index="8">
                <option value="">Select</option>
              </select>
            </div>

            <div class="col-lg-3 mb-lg-0 mb-6">
              <label class="">Range of dates</label>
                <input class="datepicker-here form-control digits outpass_dates_personal" type="text" id="disabled-days-personal"  data-range="true" data-multiple-dates-separator=" - " data-language="en">
              </div>
            
          </div>
          <div class="row mt-2">
            <div class="col-lg-12">
            <button class="btn btn-danger " id="outpass_search_personal">
              <span>
                <i class="la la-search"></i>
                <span>Search</span>
              </span>
            </button>&#160;&#160;
            <button class="btn btn-secondary " id="outpass_reset_personal">
              <span>
                <i class="la la-close"></i>
                <span>Reset</span>
              </span>
            </button></div>
          </div>
        </form>

         <div class="table-responsive">
           <table class="display datatables" id="program_personal_outpass_logs" data-url="{% url 'program_personal_outpass_logs' %}">
             <thead>
               <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Program</th>
                  <th>Inclusive Date</th>
                  <th>Check Out</th>
                  <th>Check In</th>
                  <th>Time Span</th>
                  <th>Month</th>
                  <th>Actions</th>
               </tr>
             </thead>
             <tfoot>
               <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Program</th>
                  <th>Inclusive Date</th>
                  <th>Check Out</th>
                  <th>Check In</th>
                  <th>Time Span</th>
                  <th>Month</th>
                  <th>Actions</th>
               </tr>
             </tfoot>
           </table>
         </div>


        </div>

      </div>


       </div>
     </div>
   </div>


 
  </div>



  <form action="{% url 'update_remarks_official_outpass' %}" method="post">
    {% csrf_token %}
    <div class="modal fade" id="outpass_remarks" tabindex="-1" role="dialog" aria-labelledby="OutpassUpdate" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="OutpassUpdate">Approve Outpass</h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type='text' class='id' hidden name='outpass_id' />
  
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label class="form-label" >Fullname</label>
                  <input class="form-control fullname"  type="text" >
                </div>
              </div>
            </div>
            

            <div class="row mb-3">
              <div class="col">
                <label class="form-label required" >Destination</label>
                <input class="form-control destination"  name="destination" type="text" >
              </div>
            </div>
          

            <div class="row mb-3">
              <div class="col">
                <label class="form-label required" >Activity to be Attended (Specify)</label>
                <textarea class="form-control remarks" name="remarks" rows="2"></textarea>
              </div>
            </div>

        

            

            
  
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-secondary" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>







</div>
<!--end::Container-->

{% endblock content %}

{% block script %}


<script src="{% static 'outpass_locator/js/outpass_logs/program/program_official_outpass.js' %}"> </script>
<script src="{% static 'outpass_locator/js/outpass_logs/program/program_personal_outpass.js' %}"> </script>
{% endblock script %}




