
{% extends '../../layouts/base.html' %}
{% load static %}

{% block title %}Outpass Locator | Staff by Program{% endblock title %}

{% block content %}

<!--begin::Container-->
<div class="container-fluid">

  <!--begin::row-->
  <div class="row">
       <!-- Server Side Processing start-->
       <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>All PSD Staff Details</h5>
            <div class="row">
            <div class="col-xl-6 mt-2">

              <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-desktop txt-primary m-r-10" ></i>Office - <em>At office on duty.</em></li>
                <li class="list-group-item"><i class="fa fa-check-square txt-info m-r-10" ></i>Outpass - <em>Outpass is approved by section head. </em></li>
                <li class="list-group-item"><i class="fa fa-clock-o txt-success m-r-10"></i>Outpass Approved - <em>At office on duty but still uses outpass for the meantime.</em></li>
             
               
              </ul>
         
            </div>

            <div class="col-xl-6 mt-2">

              <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-suitcase txt-danger m-r-10" ></i>RSO - <em>Staff is on RSO.</em></li>
                <li class="list-group-item"><i class="fa fa-plane txt-danger m-r-10" ></i>Travel - <em>Staff is on Travel/Field.</em></li>
                <li class="list-group-item"><i class="fa fa-share-square-o txt-danger m-r-10"></i>On Leave - <em>Staff On Leave.</em></li>
              
              </ul>
         
            </div>
          </div>


          </div>
          <div class="card-body">

            
            <div class="table-responsive">
              <table class="display datatables" id="by_program_staff_details" data-url="{% url 'get_staff_details_by_program' %}">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Name</th>
                      <th>Position</th>
                      <th>Program</th>
                      <th>Status</th>
                      <th>Actions</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Image</th>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Program</th>
                      <th>Status</th>
                      <th>Actions</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Server Side Processing end-->


  </div>
  <!--end::row-->


<form action="{% url 'update_staff_status' %}" method="post">
  {% csrf_token %}
  <div class="modal fade" id="staff_status_update" tabindex="-1" role="dialog" aria-labelledby="StatusUpdate" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="StatusUpdate">Update Staff Status</h5>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type='text' class='id' hidden name='staff_id' />

          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label class="form-label" >Fullname</label>
                <input class="form-control fullname"  type="text" >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label class="form-label" >Position</label>
                <input class="form-control position"  type="text" >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label class="form-label" >Status</label>
                <select class="form-select status" id="status" name='staff_status' >
                  <option value='1'>Office</option>
                  <option value='4'>RSO</option>
                  <option value='5'>Travel</option>
                  <option value='6'>On Leave</option>
                  
                </select>
              </div>
            </div>
          </div>


         

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-secondary" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>


<form action="{% url 'outpass_approved' %}" method="post">
  {% csrf_token %}
  <div class="modal fade" id="staff_outpass_update" tabindex="-1" role="dialog" aria-labelledby="OutpassUpdate" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="OutpassUpdate">Update Outpass Remarks</h5>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type='text' class='id' hidden name='staff_id' />

          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label class="form-label" >Fullname</label>
                <input class="form-control fullname"  type="text" >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label class="form-label">Position</label>
                <input class="form-control position"  type="text" >
              </div>
            </div>
          </div>

  
          <!--begin::row-->
          <div class="row">
            <label class="form-label" >Nature of Business</label>
            <div class="col-xl-6">
             
              <label class="d-block" >
                <input class="checkbox_animated" id="outpass_type_yes"  type="checkbox" checked="">
                Official
              </label>
            </div>

            <div class="col-xl-6">
              <label class="d-block" >
                <input class="checkbox_animated" id="outpass_type_no"  type="checkbox">
                Personal
              </label>
            </div>

            <input type="text" hidden name="outpass_type" id="outpass_type_field" value="1"/>

          </div>
          <!--end::row-->

          <!--begin::row-->
          <div id="if_official_remark">

            <div class="row">
              <div class="col">
                <label class="form-label required" >Destination</label>
                <input class="form-control" id="destination" name="destination" type="text" >
              </div>
            </div>
          

            <div class="row">
              <div class="col">
                <label class="form-label required" >Activity to be Attended (Specify)</label>
                <textarea class="form-control" id="remarks" name="remarks" rows="2"></textarea>
              </div>
            </div>

  
          </div>
          <!--end::row-->

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-secondary" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>



<form action="{% url 'print_staff_outpass' %}" method="post">
  {% csrf_token %}
  <div class="modal fade" id="print_outpass" tabindex="-1" role="dialog" aria-labelledby="OutpassUpdate" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="OutpassUpdate">Print Outpass</h5>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type='text' class='id'  name='staff_id' />

          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label class="form-label" >Fullname</label>
                <input class="form-control fullname"  type="text" >
              </div>
            </div>
          </div>
          

          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label class="form-label" >Position</label>
                <input class="form-control position"  type="text" >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label class="form-label" >Date Range</label>
                <input class="datepicker-here form-control digits" name="date_range" type="text" id="disabled-days"  data-range="true" data-multiple-dates-separator=" - " data-language="en">
              </div>
            </div>
          </div>

  
      

          

          

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-secondary" type="submit">Print</button>
        </div>
      </div>
    </div>
  </div>
</form>
 

</div>
<!--end::Container-->

{% endblock content %}


{% block script %}
<script src="{% static 'outpass_locator/js/by_program.js' %}"> </script>

<script>



  $(document).on('click', 'input[type="checkbox"]', function() {      
    $('input[type="checkbox"]').not(this).prop('checked', false);
    
    if($('#outpass_type_yes').prop('checked') == true) {
      $('#outpass_type_field').val('1');
      $('#if_official_remark').attr('hidden', false);
    }
    else if($('#outpass_type_no').prop('checked') == true) {
      $('#outpass_type_field').val('2');
      $('#if_official_remark').attr('hidden', true);
      $('#destination').val('');
      $('#remarks').val('');
    }
});



</script>

{% endblock script %}

