 {% load static %}
 <!-- Page Sidebar Start-->
 <div class="sidebar-wrapper">
    <div>
      <div class="logo-wrapper"><a href="index.html"><img class="img-fluid for-light" src="{% static 'assets/images/logo/opt.png '%}" alt=""><img class="img-fluid for-dark" src="{% static 'assets/images/logo/logo_dark.png' %}" alt=""></a>
        <div class="back-btn"><i class="fa fa-angle-left"></i></div>
        <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
      </div>
      <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid" src="{% static 'assets/images/logo/logo-icon.png' %}" alt=""></a></div>
      <nav class="sidebar-main">
        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <div id="sidebar-menu">
          <ul class="sidebar-links" id="simple-bar">
            <li class="back-btn"><a href="index.html"><img class="img-fluid" src="{% static 'assets/images/logo/logo-icon.png' %}" alt=""></a>
              <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
            </li>
            <li class="sidebar-main-title">
              <div>
                <h6 class="">General</h6>
                <p class="">Dashboard, Status Tool & Children.</p>
              </div>
            </li>
           
            <li class= "sidebar-list active"><a class="sidebar-link sidebar-title link-nav " href="{% url 'dashboard' %}"><i data-feather="home"> </i><span>Dashboard</span></a></li>

            <li class="sidebar-main-title">
              <div>
                <h6 class="">Tool</h6>
                <p class="">Search, Add and Delete</p>
              </div>
            </li>

            <li class= "sidebar-list active"><a class="sidebar-link sidebar-title link-nav " href="{% url 'nut_status_add_data' %}"><i data-feather="edit-3"> </i><span>Nut. Status Tool</span></a></li>

            <li class= "sidebar-list active"><a class="sidebar-link sidebar-title link-nav " href="{% url 'summary' %}"><i data-feather="sidebar"> </i><span>Summary</span></a></li>


            <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#"><i data-feather="layers"></i><span>Children Status List</span></a>
              <ul class="sidebar-submenu">
                <li><a href="{% url 'underweight_children' %}">Underweight</a></li>
                <li><a href="{% url 'stunted_children' %}">Stunted</a></li>
                <li><a href="{% url 'moderately_wasted_children' %}">Moderately Wasted</a></li>
                <li><a href="{% url 'severely_underweight_children' %}">Severely Underweight</a></li>
                <li><a href="{% url 'severely_stunted_children' %}">Severely Stunted</a></li>
                <li><a href="{% url 'severely_wasted_children' %}">Severely Wasted</a></li>
              </ul>
            </li>

            <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#"><i data-feather="file-text"></i><span>OPT Forms</span></a>
              <ul class="sidebar-submenu">
                <li><a href="#">Form1-A</a></li>
                <li><a href="#">Form1-B</a></li>
            
              </ul>
            </li>

        

            <li class="sidebar-main-title">
              <div>
                <h6 class="">Application</h6>
                <p class="">Filter Data</p>
              </div>
            </li>

            <li class= "sidebar-list active"><a class="sidebar-link sidebar-title link-nav " href="{% url 'summary' %}"><i data-feather="filter"> </i><span>Filter Data</span></a></li>



       
          </ul>
        </div>
        <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
      </nav>
    </div>
  </div>
  <!-- Page Sidebar Ends-->